* {
    box-sizing: border-box;
    font-family: consolas, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #80a55f;
    text-align: center;
    overflow: hidden;
}


#timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 550px;
    background-color: #BA4B3A;
    border: 5px solid black;
    border-radius: 10%;
    padding: 50px 80px;
}

h1 {
    color: #ddd;
    font-size: 32px;
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    position: relative;
    text-align: center;
    padding: 0 10px;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #eb503f;
}

#timer-digits {
    color: #ddd;
    font-size: 150px;
    padding-bottom: 20px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.timer-button {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #ddd;
    color: #000;
    border: 4px solid black;
    font-size: 16px;
    margin: 0 40px;
    cursor: pointer;
}

.timer-button:hover {
    background-color: #5d6c2f;
    color: #ddd;
}

.timer-button:active {
    background-color: #495427;
    color: darkgrey;
}




/* for smartphones */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        text-align: center;
    }

    #timer-container {
        padding: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 5px solid black;
    }

    h1 {
        font-size: 24px;
    }

    footer {
        margin-bottom: 20px;
        width: 450px;
    }

    .timer-button {
        margin: 0 20px;
    }

    #timer-digits {
        font-size: 115px;
    }
  }





