* {
    box-sizing: border-box;
    font-family: consolas, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d5ae60;
    text-align: center;
    overflow: hidden;
}


#timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 550px;
    background-color: #db594a;
    border-radius: 30%;
    padding: 50px 80px;
}

h2 {
    color: #ddd;
    font-size: 48px;
    margin: 20px;
}

#timer-digits {
    color: #ddd;
    font-size: 150px;
    padding-bottom: 20px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.timer-button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: #4c5a23;
    color: #ddd;
    border: none;
    font-size: 16px;
    margin: 0 40px;
    cursor: pointer;
}

.timer-button:hover {
    background-color: #ddd;
    color: #000;
}

.timer-button:active {
    background-color: #ddd;
    color: #000;
}





